{% extends 'base.html' %}
{% load cms_tags menu_tags i18n %}

{% block css %}

{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
    <section class="container text-center">
        <h1 class="text-center">
            <strong>{% trans "Pensjonat Jonasz" %}</strong> {% trans "zaprasza nad morze" %}
            <span class="subtitle">{% trans "Dębki nad brzegiem bałtyku, to udany wypoczynek przez cały rok" %}</span>
        </h1>

        <p class="lead">{% trans "Witamy na stronach Pensjonatu Jonasz, na których to zapoznają się Państwo z pełną ofertą noclegową oraz z walorami urokliwej miejscowości jaką są Dębki." %}</p>
    </section>
    <div class="container">
        <hr class="half-margins"/>
        <!-- hr line -->
    </div>
{% endblock %}