/*------------------*/
/* Gradients
 ---------------------------------------------------------------------------- */
/* white 75% -> grey */
.main-content {
  background: url('../img/bgPlain.jpg') center;
  background-position: top;
  background-repeat: repeat-y;
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 30px !important;
  -webkit-box-shadow: inset 0px -10px 10px -10px #444242;
  -moz-box-shadow: inset 0px -10px 10px -10px #444242;
  box-shadow: inset 0px -10px 10px -10px #444242;
}
.main-content .rezerwacja {
  margin: 20px auto;
  text-align: center;
  z-index: 999;
  background: none;
}
.main-content .rezerwacja .text {
  padding-top: 32px;
  margin-bottom: -38px;
  margin-left: 36px;
  position: relative;
  width: 306px;
  height: 104px;
  background: url(../img/rezerwacja2.png) no-repeat;
  z-index: 999px;
  color: #f1efeb;
  /* text color */
  font-family: NOVECENTO_WIDE_BOOKBOLD;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(164, 132, 97, 0.75);
  text-transform: uppercase;
}
.main-content .rezerwacja img {
  opacity: 1;
}
.main-content .rezerwacja .rezerw_content {
  padding: 10px;
  font-family: NOVECENTO_WIDENORMAL;
  font-size: 12px;
  text-align: left;
  height: 260px;
  width: 236px;
  margin: 0 auto;
  background-color: #E1FFDD;
  margin-top: -2px;
  -webkit-box-shadow: inset 1px 0px 0px 0px #dfdacf;
  -moz-box-shadow: inset 1px 0px 0px 0px #dfdacf;
  box-shadow: inset 1px 0px 0px 0px #dfdacf;
  -webkit-box-shadow: 2px 2px 19px 0px #444242;
  -moz-box-shadow: 2px 2px 19px 0px #444242;
  box-shadow: 2px 2px 19px 0px #444242;
}
.main-content .rezerwacja .rezerw_content input {
  width: 170px;
  border: 3px solid #d8cdb8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/static/pie/PIE.htc);
}
.main-content .rezerwacja .rezerw_content .ui-datepicker-trigger {
  cursor: pointer;
  margin-top: -10px;
  margin-left: 10px;
  display: inline-block;
}
.main-content .rezerwacja .rezerw_content select {
  width: 185px;
  border: 3px solid #d8cdb8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/static/pie/PIE.htc);
}
.main-content .rezerwacja .rezerw_content .arrow {
  pointer-events: none;
  margin-left: -30px;
  display: inline-block;
  background: url(../img/showMore.jpg) right no-repeat;
  content: url(../img/showMore.jpg);
}
.main-content .rezerwacja .rezerw_content button {
  cursor: pointer;
  margin-top: 6px;
  width: 227px;
  border: none;
  display: block;
  padding: 7px 47px 7px 0px;
  background: url(../img/send.png) no-repeat;
  font-family: novecento_wide_bookbold;
  font-weight: bold;
  font-size: 13px;
  color: #845606;
}
.main-content .baners {
  margin: 10px auto;
}
.main-content .baners .topTitle {
  font-family: novecento_widenormal;
  font-size: 12px;
  margin-top: 2%;
}
.main-content .baners .mainTitle {
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 2%;
  font-family: novecento_wide_bookbold;
  font-weight: bold;
  font-size: 24px;
  color: #845606;
  border-bottom: 1px solid #dfdacf;
}
.main-content .baners .content {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 12px;
}
.main-content .baners .baner {
  margin-top: 20px;
  margin-right: 0.7%;
  display: inline-block;
  width: 311px;
  min-height: 204px;
  background-color: #fff;
}
.main-content .cena {
  text-align: center;
  font-family: 'Playball', cursive;
  font-size: 28px;
  color: #E1FFDD;
}
.main-content .apartamenty {
  color: #845606;
  margin: 10px auto;
}
.main-content .apartamenty .apartamentyTitle {
  font-family: novecento_wide_bookbold;
  font-weight: bold;
  margin-top: 20px;
  font-size: 30px;
  text-transform: uppercase;
}
.main-content .apartamenty .apartament {
  margin-top: 20px;
  width: 767px;
  height: 315px;
  background: white;
}
.main-content .apartamenty .apartament .leftDetails {
  padding: 20px;
}
.main-content .apartamenty .apartament .leftDetails .title {
  font-family: novecento_wide_bookbold;
  font-size: 24px;
  font-weight: bold;
  color: #cb8916;
  padding: 10px;
  border-bottom: 1px solid #dfdacf;
}
.main-content .apartamenty .apartament .leftDetails .subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: italic;
  font-size: 12px;
  color: #aba18c;
  border-bottom: 1px solid #dfdacf;
}
.main-content .apartamenty .apartament .leftDetails .aboutText {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #aba18c;
  font-size: 14px;
  border-bottom: 1px solid #dfdacf;
}
.main-content .apartamenty .apartament .leftDetails .details {
  border-bottom: 1px solid #dfdacf;
  padding-bottom: 10px;
}
.main-content .apartamenty .apartament .leftDetails .details .liczbapokoi {
  display: block;
  margin-top: 1px;
}
.main-content .apartamenty .apartament .leftDetails .details .ceny {
  padding: 10px;
  background: #f1ece3;
}
.main-content .apartamenty .apartament .leftDetails .details .ceny .cenyTitle {
  font-family: novecento_widenormal;
  font-size: 22px;
  color: #7f7f7f;
}
.main-content .apartamenty .apartament .leftDetails .details .ceny .sezonWysokiTitle,
.main-content .apartamenty .apartament .leftDetails .details .ceny .sezonNiskiTitle {
  color: #666666;
  font-size: 12px;
}
.main-content .apartamenty .apartament .leftDetails .details .ceny .price {
  font-family: novecento_wide_bookbold;
  font-weight: bold;
  font-size: 22px;
  color: #676767;
}
.main-content .apartamenty .apartament .leftDetails .bottomInfo {
  margin-top: 10px;
}
.main-content .apartamenty .apartament .leftDetails .bottomInfo a {
  color: #E1FFDD;
  text-decoration: none;
}
.main-content .apartamenty .apartament .leftDetails .bottomInfo a:hover {
  color: #E1FFDD;
}
.main-content .apartamenty .apartament .leftDetails .bottomInfo .fromMonte {
  font-family: "Trebuchet MS";
  font-size: 14px;
  color: #aba18c;
}
.main-content .apartamenty .apartament .leftDetails .bottomInfo .fromMonte .fromMonteTitle {
  display: inline-block;
}
.main-content .apartamenty .apartament .leftDetails .bottomInfo .fromMonte .fromMonteValue {
  display: inline-block;
}
.main-content .apartamenty .apartament .leftDetails .bottomInfo .fromBeach {
  font-family: "Trebuchet MS";
  font-size: 14px;
  color: #aba18c;
}
.main-content .apartamenty .apartament .leftDetails .bottomInfo .fromBeach .fromBeachTitle {
  display: inline-block;
}
.main-content .apartamenty .apartament .leftDetails .bottomInfo .fromBeach .fromBeachValue {
  display: inline-block;
}
.main-content .apartamenty .apartament .leftDetails .bottomInfo .lookup {
  font-family: novecento_wide_bookbold;
  font-weight: bold;
  font-size: 13px;
  padding-top: 5px;
  padding-left: 31px;
  background: url(../img/rezerwuj.png) right no-repeat;
}
.main-content .apartamenty .apartament .leftDetails .bottomInfo .lookup a {
  color: #E1FFDD;
  padding-left: 30px;
  text-decoration: none;
}
.main-content .apartamenty .apartament .rightDetails {
  width: 271px;
  margin-left: -9px;
}
.main-content .apartamenty .apartament .rightDetails img {
  width: 100%;
  height: 264px;
}
.main-content .apartamenty .apartament .rightDetails a {
  text-decoration: none;
}
.main-content .apartamenty .apartament .rightDetails a:hover {
  text-decoration: none;
}
.main-content .apartamenty .apartament .rightDetails .info {
  background: #cdc6ba;
  width: 100%;
  height: 36px;
  display: inline-block;
  float: left;
  font-size: 12px;
  margin: 0 auto;
  padding-top: 15px;
}
.main-content .apartamenty .apartament .rightDetails .info a {
  text-decoration: none;
  color: white;
}
.main-content .apartamenty .apartament .rightDetails .info a:hover {
  color: #f5f5f5;
}
.main-content .apartamenty .apartament .rightDetails .info img {
  width: auto !important;
  height: auto !important;
}
.mask {
  position: relative;
  height: 271px;
  width: 271px;
  margin-bottom: -7px;
  overflow: hidden;
  float: left;
}
.mask img {
  position: absolute;
}
.mask:last-child {
  margin-right: 0px;
}
.mask .caption {
  background: #cdc6ba;
  position: absolute;
  color: #fff;
  z-index: 100;
  left: 0;
}
.mask .fade-caption {
  opacity: 0;
  width: 271px;
  height: 271px;
  text-align: left;
  padding: 4px 20px 4px 15px;
  font-size: 0.8em;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.mask:hover .fade-caption {
  opacity: 0.95;
  margin-left: 90px;
  width: 180px;
  height: 257px;
}
