{% load thumbnail sekizai_tags gallery_tags i18n %}

<div class="container">
	<div class="gallery-page">
        <div class="row">
            {% get_categories as categories %}
                <ul class="nav nav-tabs">
                    <li class="filter" data-filter="all"><a href="javascript:void(0)">{% trans "All" %}</a></li>

                {% for category in categories %}
					<li class="filter" data-filter="category_{{ category.0 }}"><a href="javascript:void(0)">{{ category.1 }}</a></li>

                {% endfor %}
				</ul>

        </div>
        <br/>
        <div class="row margin-bottom-20">
            <ul id="Grid">

                {% for image in images %}
                 <li class="mix category_{{ image.size }}">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="{{ image.title }}" href="{{ image.image.url }}">
                        <span class="overlay-zoom gallery-image">
                            <img alt="" src="{% if image.image.width > 500 %}{% thumbnail image.image 350x0  %}{% else %}{% thumbnail image.image 355x197  %}{% endif %}" class="img-responsive">                            
                           <div class="zoom-icon"></div>
                        </span>
                    </a>
                 </li>
                {% endfor %}
            </ul>
        </div>
    </div><!--/gallery-page-->
</div><!--/container-->

