{% load thumbnail sekizai_tags gallery_tags i18n %}



<section id="portfolio" class="container">

    <h2><strong>{% trans "Galeria" %}</strong> </h2>

    <p class="lead">{% trans "Zapraszamy do zobaczenia zdjęc w naszej galerii" %}</p>
    {% get_categories as categories %}
    <ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
        <li data-option-value="*" class="filter active"><a href="javascript:void(0)">{% trans "Wszystkie" %}</a></li>
        {% for category in categories %}
            <li class="filter" data-option-value=".{{ category.0 }}"><a
                    href="javascript:void(0)">{% trans category.1 %} </a></li>
        {% endfor %}
    </ul>
    <div class="row">
            <ul class="sort-destination isotope lightbox" data-sort-id="isotope-list" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

{#            style="position: relative; overflow: hidden; height: 623px;">#}
            {% for image in images %}
                <li class="isotope-item col-sm-6 col-md-3 {{ image.size }}" title="{{ image.title }}"
                    style="position: absolute; left: 0px; top: 0px; transform: translate3d(879px, 416px, 0px) scale3d(1, 1, 1); opacity: 1;">
                    <!-- item 4 -->
                    <div class="item-box">
                        <figure>
                            <a class="item-hover" href="{{ image.image.url }}">
                                <span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>{% trans "Powiększ" %}</strong> {% trans "zdjęcie" %}
										</span>
                            </a>
                            <img class="img-responsive" src="{% thumbnail image.image 0x260 %}"
                                 alt="">
                        </figure>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- /.masonry-container -->
</section>