{% load  cms_tags menu_tags sekizai_tags i18n thumbnail %}
{% block HTML %}
    <!DOCTYPE html>
{% endblock %}
<html lang="en" class="">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Pensjonat Jonasz{% endblock %}</title>

    <meta name="keywords" content="HTML5,CSS3,Template"/>
    <meta name="description" content=""/>
    <meta name="Author" content="Dorin Grigoras [www.stepofweb.com]"/>
    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0"/>

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        @font-face {
            font-family: "Urban";
            src: url('{{ STATIC_URL }}assets/fonts/Urban.ttf') format("truetype");
        }
        @font-face {
            font-family: "Caitlin";
            src: url('{{ STATIC_URL }}assets/fonts/Caitlin.ttf') format("truetype");
        }
        @font-face {
            font-family: "FFF Tusj";
            src: url('{{ STATIC_URL }}assets/fonts/FFF_Tusj.ttf') format("truetype");
        }
        @font-face {
            font-family: "Prism";
            src: url('{{ STATIC_URL }}assets/fonts/Prism-Regular.otf') format("truetype");
        }

    </style>
    <!-- CORE CSS -->
    <link href="{{ STATIC_URL }}assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/css/animate.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/css/superslides.css" rel="stylesheet" type="text/css"/>

    <!-- REVOLUTION SLIDER -->
    <link href="{{ STATIC_URL }}assets/plugins/revolution-slider/css/settings.css" rel="stylesheet" type="text/css"/>

    <!-- THEME CSS -->
    <link href="{{ STATIC_URL }}assets/css/essentials.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/css/layout-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}assets/css/color_scheme/orange.css" rel="stylesheet" type="text/css"/>
    <!-- orange: default style -->
    <!--<link id="css_dark_skin" href="assets/css/layout-dark.css" rel="stylesheet" type="text/css" />-->
    <!-- DARK SKIN -->

    <!-- styleswitcher - demo only -->
    <link href="{{ STATIC_URL }}assets/css/color_scheme/orange.css" rel="alternate stylesheet" type="text/css"
          title="orange"/>
    <link href="{{ STATIC_URL }}assets/css/color_scheme/red.css" rel="alternate stylesheet" type="text/css"
          title="red"/>
    <link href="{{ STATIC_URL }}assets/css/color_scheme/pink.css" rel="alternate stylesheet" type="text/css"
          title="pink"/>
    <link href="{{ STATIC_URL }}assets/css/color_scheme/yellow.css" rel="alternate stylesheet" type="text/css"
          title="yellow"/>
    <link href="{{ STATIC_URL }}assets/css/color_scheme/darkgreen.css" rel="alternate stylesheet" type="text/css"
          title="darkgreen"/>
    <link href="{{ STATIC_URL }}assets/css/color_scheme/green.css" rel="alternate stylesheet" type="text/css"
          title="green"/>
    <link href="{{ STATIC_URL }}assets/css/color_scheme/darkblue.css" rel="alternate stylesheet" type="text/css"
          title="darkblue"/>
    <link href="{{ STATIC_URL }}assets/css/color_scheme/blue.css" rel="alternate stylesheet" type="text/css"
          title="blue"/>
    <link href="{{ STATIC_URL }}assets/css/color_scheme/brown.css" rel="alternate stylesheet" type="text/css"
          title="brown"/>
    <link href="{{ STATIC_URL }}assets/css/color_scheme/lightgrey.css" rel="alternate stylesheet" type="text/css"
          title="lightgrey"/>
    <!-- /styleswitcher - demo only -->


    <!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
    <link href="{{ STATIC_URL }}assets/plugins/styleswitcher/styleswitcher.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}cms/css/cms.base.css" rel="stylesheet" type="text/css"/>
    <!-- Morenizr -->
    <script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/modernizr.min.js"></script>
    {% block extra-css %}{% endblock %}


</head>
<body>

<!--[if lt IE 9]>
<div class="container">
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>Używasz <strong>przestarzałej</strong> przeglądarki. <a href="http://browsehappy.com/">Zaktualizuj ją</a>, aby w wpełni skorzystać z możliwości tej strony.</p>
      </div>
    </div>
  <![endif]-->
{% cms_toolbar %}
{% block header %}
 <header id="topHead">
			<div class="container">

				<!-- PHONE/EMAIL -->
				<span class="quick-contact pull-left">
					<i class="fa fa-phone"></i> 723 573 620 &bull;
					<a class="hidden-xs" href="mailto:pensjonatjonasz@op.pl">
                    pensjonatjonasz@op.pl
                    </a>
				</span>
				<!-- /PHONE/EMAIL -->

				<!-- LANGUAGE -->
				<div class="btn-group pull-right hidden-xs">
					<button class="dropdown-toggle language" type="button" data-toggle="dropdown">
						<i class="fa fa-globe"></i> {% trans "Languages" %}
					</button>

					<ul class="dropdown-menu">
						{% language_chooser "cms/includes/language_chooser.html" %}
					</ul>
				</div>
				<!-- /LANGUAGE -->
			</div>
		</header>
		<!-- /Top Bar -->

		<!-- TOP NAV -->
		<header id="topNav" class="topHead"><!-- remove class="topHead" if no topHead used! -->
			<div class="container">

				<!-- Mobile Menu Button -->
				<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
					<i class="fa fa-bars"></i>
				</button>

				<!-- Logo text or image -->
				<a class="logo" href="/">
                    <h1 class="logo-text">Jonasz</h1>
				</a>

				<div class="navbar-collapse nav-main-collapse collapse pull-right">
					<nav class="nav-main mega-menu">
						<ul class="nav nav-pills nav-main scroll-menu" id="topMain">
                            {% show_menu 0 100 100 100 %}
						</ul>
					</nav>
				</div>
				<!-- /Top Nav -->

			</div>
		</header>
    <span id="header_shadow"></span>
{% endblock %}

{% block slider %}

{% endblock %}
{% block reservation %}
    <!--=== Purchase Block ===-->
    <!--/row-->
    <!-- End Purchase Block -->
{% endblock %}

<div id="wrapper">

<!-- REVOLUTION SLIDER -->
{% placeholder "slider" or %}
   {% show_placeholder "slider" "home" %}
   {% endplaceholder %}
<!-- /REVOLUTION SLIDER -->


{% block content %}

{% endblock %}



{% block paralax %}
<!-- PARALLAX -->
<section class="parallax delayed margin-footer" data-stellar-background-ratio="0.7"
         style="background-image: url('{{ STATIC_URL }}assets/images/pensjonat_jonasz_1.jpg');">
    <span class="overlay"></span>

    <div class="container">

        <div class="row">
            <!-- left content -->
            <div class="col-md-7 animation_fade_in" >
                <h2> <strong>{% trans "Zarezerwuj" %}</strong> {% trans "miejsce teraz!" %}</h2>

                <p class="lead">
                    {% trans "Wypełnij Formularz kontaktowy, a przedstawimy Ci pełną ofertę, oraz aktualne promocje!" %}
                </p>

                <a class="btn btn-primary btn-lg" href="/kontakt/">{% trans "Napisz do nas" %}</a>
            </div>

            <!-- right image -->

        </div>
    </div>
</section>
<!-- PARALLAX -->
{% endblock %}

</div>
<!-- /WRAPPER -->
<!-- FOOTER -->
<footer style="max-height: 350px;">

    <!-- copyright , scrollTo Top -->
    <div class="footer-bar">
        <div class="container">
            <span class="copyright">Copyright &copy; Mateusz Dargacz, All Rights Reserved.</span>
            <a class="toTop" href="#topNav">{% trans "Przewiń do góry" %} <i class="fa fa-arrow-circle-up"></i></a>
        </div>
    </div>
    <!-- copyright , scrollTo Top -->
    <!-- footer content -->
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <!-- FOOTER CONTACT INFO -->
                <div class="column col-md-6">
                    <h3>{% trans "Kontakt" %}</h3>

                    <address class="font-opensans">
                        <ul>
                            <li class="footer-sprite address">
                                Dębki <br/>
                                {% trans "Ul. Liliowa" %}<br/>
                                {% trans "Pomorze, Polska" %}<br/>
                            </li>
                            <li class="footer-sprite phone">
                                723 573 620,  602 444 508
                            </li>
                            <li class="footer-sprite email">
                                <a href="mailto:pensjonatjonasz@op.pl">pensjonatjonasz@op.pl</a>
                            </li>
                        </ul>
                    </address>

                </div>
                <!-- /FOOTER CONTACT INFO -->
                <!-- FOOTER LOGO -->
                <div class="column logo col-md-6 text-center" style="max-height: 250px;">
                    <div class="logo-content footer-logo">
                        <h4>Pensjonat</h4> <br/>
                        <h1 class="logo-text" >Jonasz</h1>
                    </div>
                </div>
                <!-- /FOOTER LOGO -->
            </div>

        </div>
    </div>
    <!-- footer content -->

</footer>
<!-- /FOOTER -->


<!-- JAVASCRIPT FILES -->
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery.appear.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery.isotope.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/masonry.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/stellar/jquery.stellar.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/knob/js/jquery.knob.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/superslides/dist/jquery.superslides.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/styleswitcher/styleswitcher.js"></script>
<!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
<script type="text/javascript"
        src="{{ STATIC_URL }}assets/plugins/mediaelement/build/mediaelement-and-player.min.js"></script>

<!-- REVOLUTION SLIDER -->
<script type="text/javascript"
        src="{{ STATIC_URL }}assets/plugins/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/slider_revolution.js"></script>


<script type="text/javascript" src="{{ STATIC_URL }}assets/js/scripts.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37787890-5', 'auto');
  ga('send', 'pageview');

</script>
{% render_block "js" %}
{% block extra-js %}{% endblock %}

{% block js %}
{% endblock %}
</body>

</html>