{% load i18n thumbnail picture_apartament %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/jquery-ui.css">
<script>
    (function ($) {
        $(function () {
            $("#id_start_date").datepicker({ showOptions: {direction: 'up'}, minDate: 0, maxDate: "+1Y", dateFormat: 'yy-mm-dd', firstDay: 1, dayNames: ['Niedziela', 'Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek', 'Sobota'], dayNamesMin: ['Nd', 'Po', 'Wt', 'Śr', 'Cz', 'Pt', 'So'], monthNames: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzeszień', 'Październik', 'Listopad', 'Grudzień'], monthNamesShort: ['Sty', 'Lut', 'Mar', 'Kwi', 'Maj', 'Cze', 'Lip', 'Sie', 'Wrz', 'Paź', 'Lis', 'Gru']});
            $("#id_end_date").datepicker({ showOptions: {direction: 'up'}, minDate: 0, maxDate: "+1Y", dateFormat: 'yy-mm-dd', firstDay: 1, dayNames: ['Niedziela', 'Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek', 'Sobota'], dayNamesMin: ['Nd', 'Po', 'Wt', 'Śr', 'Cz', 'Pt', 'So'], monthNames: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzeszień', 'Październik', 'Listopad', 'Grudzień'], monthNamesShort: ['Sty', 'Lut', 'Mar', 'Kwi', 'Maj', 'Cze', 'Lip', 'Sie', 'Wrz', 'Paź', 'Lis', 'Gru']});
        });
    })(jQuery)
</script>

<div class="smalest-container reserv">
    <div class="row-fluid">
        <div class="span12 title text-center">
            <div class="plugin_title">
                <h3>{% trans "Book your apartment" %}</h3>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 form">
            {% if form %}
                <form action="" method="post" id="reservation"
                      class="form-horizontal">
                    {% csrf_token %}
                    {{ form }}
                    <div class="buttonHolder ">
                        <input type="submit" name="submit"
                               value="{% blocktrans %}Send{% endblocktrans %}"
                               class="primaryAction"/>
                    </div>
                </form>
            {% else %}
                <div class="alert alert-success">
                    {% trans "Thank you message has been sent" %}
                </div>
            {% endif %}


            <div class="plugin_contact">
                <p>{% trans "If you selected date the apartment is already booked, it will be suggested to you another closest to date." %}</p>
            </div>
        </div>
        <div class="span6 form">
            <a href="{% if apartament %}{% url "apartaments:apartament_detail" apartament.slug %}{% endif %}" class="mask" target="_blank">
                                    <img src="{{ MEDIA_URL }}{% picture pk %}">
                                    {% if end and start %}
                                            <span class="caption fade-caption">
                                                    {% trans "From" %}: {{ start }}
                                                    <br>{% trans "To" %}: {{ end }}
                                                    <br>{% trans "Duration" %}: {{ duration }}
                                            <h4>{% trans "Price of accommodation" %}</h4>
                                            <h5>{% trans "HIGH SEASON" %}</h5>
                                            {% with apartament.priceHigh as priceHigh %}
                                            <p>{% widthratio priceHigh 1 duration %}{% trans "$" %}</p>
                                            {% endwith %}
                                            <h5>{% trans "LOW SEASON" %}</h5>
                                            {% with apartament.priceLow as priceLow %}
                                            <p>{% widthratio priceLow 1 duration %}{% trans "$" %}</p>
                                            {% endwith %}
                                            </span>
                                    {% endif %}
            </a>

        </div>
    </div>
</div>