{% load attractions_tag %}

{% render_map g_map markers as map %}
<div class="col-md-11 col-md-offset-1 gmap-cont">
    <br/>
<div class="col-md-6 col-md-offset-1 ">
    {{ map.map }}
</div>
</div>

{{ map.media.js }}

<script type="text/javascript">
    window.myobj = {
        markerOver: function() { this.openInfoWindow(); },
        markerOut: function() { this.closeInfoWindow(); }
    };
    google.maps.event.addDomListener(window, 'resize', function() {
    map.setCenter(homeLatlng);
});
</script>